$spacing: 1.5em
$page-width: 40em
$base-font-size: 13pt

body
  font-family: -apple-system, Helvetica, Arial, sans-serif
  line-height: $spacing
  font-size: $base-font-size
  box-sizing: border-box

.layout
  display: flex
  flex-direction: column
  margin: $spacing
  &--header
  &--body
    display: flex
    flex-direction: row
  &--nav
    order: -1
    min-width: 8em
    margin-right: $spacing
    padding-right: $spacing
    border-right: 1px solid #eee
  &--content
    flex: 1
  &--footer

.sidebar
  & > *
    display: block
  &--header
    margin-top: $spacing
img#logo
  max-width: 6rem
  height: 6rem
pre
  background: #eee
  padding: $spacing
  line-height: $spacing
  font-size: .9em
  font-weight: 100
  overflow: scroll
p > code
  background: #eee
  font-size: .9em
  font-weight: 100

