<!DOCTYPE html>
<html class="dark:text-slate-200 dark:bg-brown-900">
  <head>
    <meta charset=utf-8>
    <meta name = "viewport" content = "width = device-width">
    <title><%= current_page.data.fetch("title") %></title>
    <%= stylesheet_link_tag "tailwind" %>
    <script defer data-domain="sitepress.cc" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
