!!!
%html
  %head
    %meta(charset="utf-8")
    %title==#{current_page.data["title"]} | Sitepress
    %link(href="/stylesheets/site.css" type="text/css" rel="stylesheet")
  %body.layout
    .layout--body
      .layout--sidebar.accented-sidebar
        .layout--sidebar--logo
          %a(href="/index.html" title="Home")
            %img#logo(src="/images/logo.svg")
        %nav.sidebar
          %strong.sidebar--header Getting started
          -site.resources.glob("pages/getting-started/*.html*").select{ |r| r.data.has_key? "title" }.each do |r|
            =link_to_if_current r.data["title"], r
          %strong.sidebar--header Basics
          -site.resources.glob("pages/basics/*.html*").select{ |r| r.data.has_key?("title") and r.request_path != "index.html" }.each do |r|
            =link_to_if_current r.data["title"], r
          %strong.sidebar--header Project
          -site.resources.glob("pages/project/*.html*").select{ |r| r.data.has_key? "title" }.each do |r|
            =link_to_if_current r.data["title"], r
      %section.layout--content.content
        %h1=current_page.data["title"]
        ~yield
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86451-7', 'auto');
    ga('send', 'pageview');
