!!!
%html
  %head
    %meta(charset="utf-8")
    %title==#{current_page.data["title"]} | Sitepress
    = stylesheet_link_tag "site"
  %body.layout
    .layout--body
      .layout--sidebar.accented-sidebar
        .layout--sidebar--logo
          %a(href="/" title="Home")
            =image_tag "logo.svg", id: "logo"
        %nav.sidebar
          %strong.sidebar--header Getting started
          -order_glob("getting-started/*.html*").each do |r|
            =link_to_if_current r.data["title"], r
          %strong.sidebar--header Documentation
          -order_glob("basics/*.html*").each do |r|
            =link_to_if_current r.data["title"], r
          %strong.sidebar--header Project
          -order_glob("project/*.html*").each do |r|
            =link_to_if_current r.data["title"], r
      %section.layout--content.content
        %h1=current_page.data["title"]
        ~yield
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86451-7', 'auto');
    ga('send', 'pageview');
